useDynLib(ExponentialGM, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
import(glmnet)
import(ks)
import(foreach)
import(doParallel)
import(parallel)
import(LaplacesDemon)
import(plot.matrix)
import(OpenImageR)
importFrom("stats", "rbinom", "rgamma", "rnorm", "rpois", "runif")
